$primary_background_color: #a7d495 !default;
$secondary_background_color: #67a066 !default;
$trinary_background_color: #cfdfaa !default;
$color1: #cfdfaa !default;
$color2: #a0a77f !default;
$color3: #974c56 !default;
$color4: #a7d495 !default;
$color5: #67a066 !default;
