$color1: #cfdfaa !default;
$color2: #a0a77f !default;
$color3: #974c56 !default;
// $color4: #a7d495 !default;
// $color5: #67a066 !default;

// $color3: #974c56 !default;
$color4: #e2e8f0 !default;
$color5: #cfdfaa !default;

$grid-item: #ffffff;

// #f2f2f2
// #d0d7d9
// #D9D9D9
