@import "_variables";

* {
  box-sizing: border-box;
}

body {
  background-color: $color4;
  margin: 0px;
}

#page {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "header header header"
    "......   main ......";
  grid-gap: 16px;
}
