* {
  box-sizing: border-box;
}

.carousel-container {
  grid-area: main;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  .carousel-content {
    padding: 30px;
  }

  .nav-buttons {
    color: black;
    // text-decoration: none;
    .prev {
      font-size: 30px;
    }
    .next {
      font-size: 30px;
    }
  }
}
