* {
  box-sizing: border-box;
}

.carousel-container {
  grid-area: main;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    ".... back-to-main ...."
    "prev pokedex-entry next";

  width: 100%;
  position: relative;

  .back-to-main {
    grid-area: back-to-main;
    align-self: start;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    padding-left: 30px;
    margin: 0px;
    transform: translate(0px, 0px);
    transition: all 0.333333s ease-out;
    font-family: "Lora", serif;
    font-size: 16px;
    color: black;
    color: #e3350d;

    width: 100px;

    &:hover {
      transform: translate(0px, -4px);
      color: red;
    }
  }

  .carousel-content {
    grid-area: pokedex-entry;
    align-self: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100px;
    min-width: 800px;

    .loading-img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: flex;
      margin: 30% auto auto auto;
      align-items: center;
      align-content: center;
      animation: rotation 1s cubic-bezier(0.01, 0.01, 1, 1) infinite;

      @keyframes rotation {
        0% {
          transform: rotateY(0deg);
        }
        25% {
          transform: rotateY(45deg);
        }
        50% {
          transform: rotateY(90deg);
        }
        75% {
          transform: rotateY(45deg);
        }
        100% {
          transform: rotateY(0deg);
        }
      }
    }
  }
  .prev {
    grid-area: prev;
    position: absolute;
    top: 28rem;
    margin-left: -25px;
  }

  .next {
    grid-area: next;
    position: absolute;
    top: 28rem;
  }

  .nav-buttons {
    color: black;
    font-size: 30px;
    text-decoration: none;
  }
}
