@import "_variables.scss";
@import "_mixins";

$darker-red: #e3350d;
$red: #ff0000;

.carousel-container {
  grid-area: main;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    ".... back-to-main ...."
    "prev pokedex-entry next";

  width: 100%;

  .back-to-main {
    grid-area: back-to-main;
    align-self: start;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    padding-left: 30px;
    margin: 0px;
    transform: translate(0px, 0px);
    transition: all 0.333333s ease-out;
    @include font($font-sans, 1.25rem, bold);
    color: $darker-red;
    width: 7.5rem;

    &:hover {
      transform: translate(0px, -4px);
      color: $red;
    }
  }

  .carousel-content {
    grid-area: pokedex-entry;
    align-self: center;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 100%;
    min-width: 50rem;
    max-width: 50rem;
  }

  .prev {
    grid-area: prev;
    margin-top: 30rem;
  }

  .next {
    grid-area: next;
    margin-top: 30rem;
  }

  .nav-buttons {
    color: $black;
    text-decoration: none;

    .arrow-image {
      width: 3rem;
      height: 3rem;
    }
  }
}

@media only screen and (max-width: 760px) {
  .carousel-container {
    .carousel-content {
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }
  }
}

@media only screen and (min-width: 760px) and (max-width: 930px) {
  .carousel-container {
    .carousel-content {
      padding-left: 0px;
      padding-right: 0px;
      min-width: 40rem;
      max-width: 40rem;
    }
  }
}
