@import "_variables";
@import "_mixins";

#footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: $chikorita-green;
  box-shadow: 0px -10px 10px -10px $box-shadow-grey;

  .github-logo {
    width: 1rem;
  }

  .link-formatter {
    @include font($font-sans, 1rem, bold);
    color: $black;
    text-decoration: none;

    &:focus,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }
    &:hover {
      color: $chikorita-red;
    }
  }
}
