@import "_variables";

* {
  box-sizing: border-box;
}

#header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  background-color: $color5;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 5px 10px -1px gray;
}
