@import "_variables";
@import "_mixins";

#header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  background-color: $chikorita-green;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 5px 10px -1px $box-shadow-grey;
  width: 100%;

  .title-link {
    @include font($font-sans, 1rem, bolder);
    text-decoration: none;
    color: $black;

    .title-container {
      display: flex;
      flex-direction: row;

      .title-image {
        width: 3rem;
        padding-right: 4px;
        transform: translate(0px, 0px);
        transition: all 0.333333s ease-out;
      }

      &:hover {
        transform: translate(0px, -4px);
      }

      .title {
        margin: 0px;
      }
    }

    &:focus,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }
    &:hover {
      color: $chikorita-red;
    }
  }
}
