* {
  box-sizing: border-box;
}

.menu-container {
  margin-top: 0px;
  position: relative;
  .drop-down {
    background: #8cc98b;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto;
    font-family: "Lora", serif;
    font-size: 16px;
    color: black;

    &:hover {
      background: #a7d495;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    }
  }

  .menu-contents {
    background: #ffffff;
    border-radius: 8px;
    position: absolute;
    top: 40px;
    left: auto;
    right: 0;
    width: 190px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    font-size: 18px;
    padding: 16px;
    z-index: 10;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    #scroll-grid {
      display: flex;
      flex-direction: column;
      padding-bottom: 8px;

      .radio-button {
        padding-right: 16px;
      }
    }

    #livingdex-switch {
      border-top: black 2px solid;
      padding-top: 16px;
      display: flex;
      align-items: center;

      .switch-label {
        padding-left: 6px;
      }
    }
  }
}
