@import "_variables.scss";

$green: #8cc98b;
$light-green: #a7d495;

.menu-container {
  margin-top: 0px;
  position: relative;

  .drop-down {
    background: $green;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    border: none;
    vertical-align: middle;
    transition: box-shadow 0.4s ease;
    margin-left: auto;
    font-family: "Lora", serif;
    font-size: 1rem;
    color: $black;

    &:hover {
      background: $light-green;
      box-shadow: 0px 1px 8px $box-shadow-grey;
    }
  }

  .menu-contents {
    background: $white;
    border-radius: 8px;
    position: absolute;
    top: 40px;
    left: auto;
    right: 0;
    width: 12rem;
    box-shadow: 0px 1px 8px $box-shadow-grey;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    font-size: 18px;
    padding: 16px;
    z-index: 10;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    #scroll-grid {
      display: flex;
      flex-direction: column;
      padding-bottom: 8px;

      .radio-button {
        padding-right: 16px;
      }
    }

    #livingdex-switch {
      display: flex;
      align-items: center;
      border-top: $black 2px solid;
      padding-top: 16px;

      .switch-label {
        padding-left: 6px;
      }
    }
  }
}
