@import "_variables";

* {
  box-sizing: border-box;
}

.pokedex-entry-container {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    ".... header ...."
    ".... sprite ...."
    ".... types ...."
    ".... flavor-text ...."
    ".... description ...."
    ".... details ...."
    ".... abilites ...."
    ".... stats ...."
    ".... evolution ....";

  padding: 20px;
  border-radius: 8px;

  .header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    grid-template-areas: ".... name index pokeball ....";

    .title-container {
      grid-area: name;
      padding-right: 100px;

      .title {
        font-family: $font-sub-title;
        font-style: bold;
        margin: 0px;
        padding: 0px;
      }
    }

    .index-container {
      grid-area: index;

      .index {
        margin: 0px;
        padding: 0px;
      }
    }

    .pokeball-container {
      grid-area: pokeball;
      padding-left: 20px;

      .pokeball {
        width: 30px;
      }
    }
  }

  .sprite {
    grid-area: sprite;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    margin-bottom: 12px;

    .sprite-image {
      object-fit: cover;
      width: 100%;
      max-width: 250px;
      background-color: whitesmoke;
      border-radius: 16px;
      // border: black 1px solid;
      box-shadow: 0 10px 15px -3px gray;
      // height: 250px;
    }
  }

  .types-container {
    grid-area: types;
  }

  .flavor-text-container {
    grid-area: flavor-text;
    padding-top: 20px;
  }

  .description {
    grid-area: description;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;

    .generation-container {
      display: flex;
      flex-direction: row;
    }

    .genera-container {
      display: flex;
      flex-direction: row;
    }

    .height-container {
      display: flex;
      flex-direction: row;
    }
    .weight-container {
      display: flex;
      flex-direction: row;
    }
  }

  .details-container {
    grid-area: details;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .training-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 16px;

      .base-experience-container {
        .base-experience-title {
          padding-right: 16px;
        }
      }

      .base-happiness-container {
        .base-happiness-title {
          padding-right: 16px;
        }
      }

      .capture-rate-container {
        .capture-rate-title {
          padding-right: 16px;
        }

        .capture-rate-container {
          .capture-rate-title {
            padding-right: 16px;
          }
          .capture-rate-content {
          }
        }
      }

      .growth-rate-container {
        .growth-rate-title {
          padding-right: 16px;
        }
        .growth-rate-content {
        }
      }
    }

    .breeding-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 16px;

      .gender-container {
        display: flex;
        flex-direction: row;
        padding: 8px;
        align-items: center;

        .gender-rate-title {
          padding-right: 16px;
        }

        .gender-rate-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .gender-rate-icon {
            padding-right: 6px;
          }

          .gender-rate-content {
            padding-right: 8px;
          }
        }
      }
    }
  }

  .abilites-container {
    grid-area: abilites;
  }

  .stats-container {
    grid-area: stats;
  }

  .evolution-container {
    grid-area: evolution;
    padding-top: 16px;
  }
}
