@import "_variables";
@import "_mixins";

$red: #ff0000;

$level3-width: 85%;
$level2-width: 90%;
$level1-width: 95%;
$level0-width: 100%;

$level0-left: 0%;
$level1-left: 10%;
$level2-left: 20%;
$level3-left: 30%;

.scroll-element-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 4px;
  margin: 8px;
  border-radius: 8px;
  background-color: $white;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transform: translate(0px, 0px);
  transition: all 0.333333s ease-out;
  transition: border 0.4s;

  &:hover {
    transform: translate(0px, -4px);
    box-shadow: 0 5px 10px -3px $box-shadow-grey;
  }

  .pokeball-container {
    padding-left: 8px;

    .pokeball {
      width: 1.5rem;
      height: 1.5rem;
      z-index: 500;
    }
  }

  .scroll-element-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 70px;

    .pokemon-index {
      @include font($font-serif, 1rem, bold);
      padding-right: 16px;
    }

    .pokemon-name {
      @include font($font-serif, 1rem, bold);
    }
  }

  &.level0 {
    width: $level0-width;
    margin-left: $level0-left;
    border: 2px solid $red;
  }

  &.level1 {
    width: $level1-width;
    margin-left: $level1-left;
  }

  &.level2 {
    width: $level2-width;
    margin-left: $level2-left;
  }

  &.level3 {
    width: $level3-width;
    margin-left: $level3-left;
  }
}

@media only screen and (max-width: 650px) {
  .scroll-element-container {
    $new-width: 100%;

    &.level0 {
      width: $new-width;
      margin-left: 0px;
    }

    &.level1 {
      width: $new-width;
      margin-left: 0px;
    }

    &.level2 {
      width: $new-width;
      margin-left: 0px;
    }

    &.level3 {
      width: $new-width;
      margin-left: 0px;
    }
  }
}

@media only screen and (min-width: 650px) and (max-width: 850px) {
  .scroll-element-container {
    $new-width: 80%;

    &.level0 {
      width: $new-width;
    }

    &.level1 {
      width: $new-width;
    }

    &.level2 {
      width: $new-width;
    }

    &.level3 {
      width: $new-width;
    }
  }
}
