.chain-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;

  .pokemon-sprite {
    justify-content: center;
    padding: 0px;
    margin: 0px;
    width: 96px;
    height: 96px;
  }

  .pokemon-name {
    text-align: center;
    padding: 0px;
    margin: 0px;
  }
}
