@import "./_variables.scss";
@import "_mixins";

.pokemon-stat-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .stat-table {
    border: 2px solid $black;
    border-radius: 8px;

    .stat-name {
      @include font($font-serif, 1.25rem, bold);
      text-align: center;
      padding-right: 8px;
      padding-left: 8px;
    }

    .stat-number {
      @include font($font-sans, 1.125rem, normal);
      text-align: center;
    }
  }
}
