* {
  box-sizing: border-box;
}

.pokemon-ability-container {
  display: flex;
  flex-direction: column;

  .ability-name {
    font-size: 16px;
  }

  .ability-content {
    // display: flex;
    // justify-content: center;
    // text-align: center;
    // border-radius: 8px;
    // padding: 4px;
    // border: 3px solid blue;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
  }

  .ability-image {
    padding-left: 4px;
    width: 16px;
  }

  .hidden {
    // border: 3px solid red;
  }
}
