@import "_variables";

* {
  box-sizing: border-box;
}

.pokedex-entry-container {
  background-color: $color5;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "...... screen ......"
    "...... details ......";
  padding: 20px;
  border-radius: 8px;

  .pokedex-screen {
    grid-area: screen;
    width: 100%;

    .header {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      text-align: center;

      .index {
        margin: 0px;
        padding: 0px;
      }

      .title {
        //   grid-area: title;
        margin: 0px;
        padding: 0px;
      }

      .pokeball {
        width: 30px;
      }
    }

    .sprite {
      //   grid-area: sprite;
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 8px;
      margin-bottom: 12px;

      .sprite-image {
        object-fit: cover;
        width: 100%;
        max-width: 250px;
        background-color: whitesmoke;
        border-radius: 16px;
        // border: black 1px solid;
        box-shadow: 0 10px 15px -3px gray;
        // height: 250px;
      }
    }
  }

  .pokedex-detailed-info {
    grid-area: details;
    width: 100%;

    .description {
      display: flex;
      justify-content: space-evenly;
      margin-top: 16px;
      margin-bottom: 8px;
    }

    .extra {
      display: flex;
      flex-direction: column;
      padding: 8px;
    }
  }
}
