* {
  box-sizing: border-box;
}

#pokemon-grid-container {
  grid-area: main;
  // justify-content: center;
}

#pokemon-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
