@import "_variables";

* {
  box-sizing: border-box;
}

.pokedex-entry-container {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "header header header"
    "sprite pokedex-data pokedex-data"
    "sprite pokedex-data pokedex-data"
    "description description description"
    "training .... breeding"
    "stats stats stats"
    "evolution evolution evolution";

  padding: 20px;
  border-radius: 8px;

  .sub-title {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .table-formatter {
    border-collapse: collapse;
    width: 100%;

    .table-body-formatter {
      .table-row-formatter {
        border-bottom: 1px solid black;

        .table-header-formatter {
          text-align: left;
          padding: 4px;
          font-size: 20px;
        }

        .table-data-formatter {
          text-align: right;
          padding: 4px;
        }
      }
    }
  }

  .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;

    .pokemon-name-container {
      grid-area: name;

      .pokemon-name {
        font-family: $font-sub-title;
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
      }
    }

    .pokeball-container {
      grid-area: pokeball;
      padding-left: 20px;

      .pokeball {
        width: 30px;
      }
    }
  }

  .sprite {
    grid-area: sprite;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .sprite-image {
      object-fit: cover;
      width: 100%;
      max-width: 320px;
      background-color: whitesmoke;
      border-radius: 16px;
      box-shadow: 0 10px 15px -3px gray;
    }
  }

  .pokedex-data-container {
    grid-area: pokedex-data;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;

    .sub-title {
      margin-top: 10px;
    }
  }

  .ability-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
  }

  .description-container {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
  }

  .training-container {
    grid-area: training;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    padding-right: 10px;
  }

  .breeding-container {
    grid-area: breeding;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    padding-left: 10px;

    .gender-rate-icon {
      width: 20px;
    }
  }

  .stat-container {
    grid-area: stats;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
  }

  .evolution-container {
    grid-area: evolution;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;

    .sub-title {
      margin-bottom: -10px;
    }
  }
}
