* {
  box-sizing: border-box;
}

.pokemon-type-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .pokemon-type {
    font-size: 16px;
    color: white;
    padding: 4px;
    border-radius: 8px;
    margin-left: 8px;
  }
}
