@import "_variables";

* {
  box-sizing: border-box;
}

.pokedex-entry-container {
  background-color: $secondary_background_color;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "...... screen ......"
    "...... details ......";

  .pokedex-screen {
    grid-area: screen;
    width: 100%;

    .title {
      //   grid-area: title;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .sprite {
      //   grid-area: sprite;
      width: 100%;
      display: flex;
      justify-content: center;
      .sprite-image {
        object-fit: cover;
        width: 100%;
        max-width: 250px;
        // height: 250px;
      }
    }
  }

  .pokedex-detailed-info {
    grid-area: details;
    width: 100%;
  }

  .type {
    color: magenta;
  }

  .yellow {
    background-color: yellow;
  }

  .green {
    background-color: green;
  }

  .blue {
    background-color: blue;
  }
}
