@import "_variables";

* {
  box-sizing: border-box;
}

.pokedex-entry-container {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    "header header"
    "sprite pokedex-data"
    "sprite pokedex-data"
    "description description"
    "training breeding"
    "stats stats"
    "evolution evolution";

  padding: 20px;
  border-radius: 8px;

  .sub-title {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .table-formatter {
    border-collapse: collapse;

    .table-body-formatter {
      .table-row-formatter {
        border-bottom: 1px solid black;

        .table-header-formatter {
          text-align: left;
          padding: 4px;

          .table-data-formatter {
            text-align: left;
            padding: 4px;
          }
        }
      }
    }
  }

  .header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .pokemon-name-container {
      grid-area: name;

      .pokemon-name {
        font-family: $font-sub-title;
        font-style: bold;
        margin: 0px;
        padding: 0px;
      }
    }

    .pokeball-container {
      grid-area: pokeball;
      padding-left: 20px;

      .pokeball {
        width: 30px;
      }
    }
  }

  .sprite {
    grid-area: sprite;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    margin-bottom: 12px;

    .sprite-image {
      object-fit: cover;
      width: 100%;
      max-width: 250px;
      background-color: whitesmoke;
      border-radius: 16px;
      // border: black 1px solid;
      box-shadow: 0 10px 15px -3px gray;
      // height: 250px;
    }
  }

  .pokedex-data-container {
    grid-area: pokedex-data;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ability-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description-container {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .training-container {
    grid-area: training;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
  }

  .breeding-container {
    grid-area: breeding;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;

    .gender-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .gender-type {
        padding-right: 4px;
      }

      .gender-rate-icon {
        padding-right: 6px;
      }
    }
  }

  .stat-container {
    grid-area: stats;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .evolution-container {
    grid-area: evolution;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
