* {
  box-sizing: border-box;
}

.pokemon-type-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .pokemon-type {
    color: white;
    padding: 4px;
    border-radius: 8px;
    margin-right: 8px;
  }
}
