@import "_variables";
@import "_mixins";

.pokemon-scroll-container {
  grid-area: main;

  width: 100%;
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 6rem 1fr;
  grid-template-areas: "sprite .... carousel";

  .sprite {
    grid-area: sprite;
    width: 100%;
    display: flex;
    align-items: center;

    .sprite-image {
      object-fit: cover;
      width: 100%;
      min-width: 20rem;
      background-color: $smoked-white;
      border-radius: 16px;
      transform: translate(0px, 0px);
      transition: all 0.333333s ease-out;

      &:hover {
        box-shadow: 0 10px 15px -3px $box-shadow-grey;
        transform: translate(0px, -8px);
      }
    }
  }

  .pokemon-scroll-carousel {
    grid-area: carousel;
    width: 100%;
    margin: 0px;
    padding: 0px;

    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "prev"
      "elements"
      "next";

    .title {
      @include font($font-sans, 2rem, normal);
    }

    .pokemon-scroll {
      grid-area: elements;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0px;
      padding: 0px;
    }

    .prev {
      grid-area: prev;
      justify-self: flex-end;
      align-self: end;
    }

    .next {
      grid-area: next;
      justify-self: flex-end;
      align-self: flex-start;
      margin-bottom: 40px;
    }

    .arrow-container {
      display: flex;
      justify-content: flex-end;
      // flex-direction: column;

      .prev-next {
        margin-right: 5rem;
      }
    }

    .arrow-image {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 650px) {
  .pokemon-scroll-container {
    grid-template-columns: auto;
    grid-template-areas:
      "sprite"
      "carousel";

    .sprite {
      justify-content: center;
    }

    .pokemon-scroll-carousel {
      margin-top: 20px;
    }
  }
}

@media only screen and (min-width: 650px) and (max-width: 850px) {
  .pokemon-scroll-container {
    grid-template-columns: 1fr 1rem 1.5fr;
    grid-template-areas: "sprite .... carousel";

    .sprite {
      .sprite-image {
        min-width: 15rem;
      }
    }
  }
}
