@import "_variables";
@import "_mixins";

.pokemon-chain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;

  .pokemon-chain-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    .pokemon-chain-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .chain-item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 6.25rem;

        &:hover {
          transform: translate(0px, -4px);
        }

        .pokemon-sprite {
          justify-content: center;
          padding: 0px;
          margin: 0px;
          width: 6rem;
          height: 6rem;
        }

        .pokemon-name {
          @include font($font-sans, 1.125rem, bold);
          text-align: center;
          padding: 0px;
          margin: 0px;
        }
      }
      .arrow {
        padding-left: 16px;
        padding-right: 16px;
      }

      .evolution-chain-arrow-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 9.5rem;

        .evolution-detail {
          @include font($font-sans, 1rem, normal);
          padding: 2px;
        }
      }
    }
  }
}
