@import "_variables";

.pokemon-grid-container {
  grid-area: main;

  .pokemon-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 30px;
  }

  .loading-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
