@import "_variables";

.pokemon-grid-container {
  grid-area: main;

  .pokemon-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding-bottom: 30px;
  }

  .loading-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 750px) {
  .pokemon-grid-container {
    .pokemon-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media only screen and (min-width: 750px) and (max-width: 850px) {
  .pokemon-grid-container {
    .pokemon-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
