@import "_variables";
@import "_mixins";

.pokemon-scroll-container {
  grid-area: main;

  .pokemon-scroll {
    width: 100%;
    display: flex;
    justify-content: center;

    .title {
      @include font($font-sans, 2rem, normal);
    }
  }
}
