@import "_variables.scss";

.search {
  // currently hard coded on size but later can be changed
  height: 40px;
  width: 450px;

  #search-input {
    border-radius: 8px;
    height: 100%;
    width: 73%;
    font-size: 100%;
  }

  #search-button {
    border-radius: 16px;
    height: 100%;
    width: 25%;
    margin-left: 2%;
    background-color: #ff0000;
    font-family: "Lora", serif;
    font-weight: 600;
    color: black;
    font-size: 14px;
    border: 1.6px #ff0000 solid;

    &:active {
      box-shadow: 0 4px 5px -1px #999;
    }
  }
}
